@using HR.Application.Features.EnumViewModels
@model IEnumerable<HR.Application.Features.AdvancePayments.ViewModels.AdvancePaymentApproveListVM>

@{
    ViewData["Title"] = "AdvancePaymentRequestApprove";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">PERSONEL AVANS TALEPLERİ</h4>

            <div class="btn-group btn-md mb-3">
                <button type="button" class="btn btn-inverse-info" onclick="applyFilter('Onay Bekliyor')">Onay Bekliyor</button>
                <button type="button" class="btn btn-inverse-success" onclick="applyFilter('Onaylandı')">Onaylandı</button>
                <button type="button" class="btn btn-inverse-danger" onclick="applyFilter('Reddedildi')">Reddedildi</button>
                <button type="button" class="btn btn-inverse-secondary" onclick="clearFilters()">Hepsi</button>
            </div>

            <div class="table-responsive">
                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                Talep Eden
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdvanceType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrencyType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApprovalStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApprovalDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Personnel.Name) @Html.DisplayFor(modelItem => item.Personnel.SecondName) @Html.DisplayFor(modelItem => item.Personnel.Surname) @Html.DisplayFor(modelItem => item.Personnel.SecondSurname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdvanceType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrencyType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovalDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @if (item.ApprovalStatus == ApprovalStatusVM.ApprovalWaiting)
                                    {
                                        <button href="#" onclick="approveAdvancePayment('@item.Id')" class="btn btn-inverse-success btn-icon"><i class="ti-check"></i></button>
                                        <button href="#" onclick="rejectAdvancePayment('@item.Id')" class="btn btn-inverse-danger btn-icon"><i class="ti-close"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function approveAdvancePayment(advancePaymentId) {
            var confirmDelete = confirm("Avans talebini onaylamak istediğinizden emin misiniz?");

            if (confirmDelete) {
                window.location.href = '/Manager/Request/ApproveByIdAdvancePaymentRequest?advancePaymentId=' + advancePaymentId;
            }
        }

        function rejectAdvancePayment(advancePaymentId) {
            var confirmDelete = confirm("Avans talebini reddetmek istediğinizden emin misiniz?");

            if (confirmDelete) {
                window.location.href = '/Manager/Request/RejectByIdAdvancePaymentRequest?advancePaymentId=' + advancePaymentId;
            }
        }



        var table;

        $(document).ready(function () {
            table = $('#myTable').DataTable({
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                }
            });

            // Sayfa yüklendiğinde "Onay Bekliyor" butonuna otomatik olarak tıkla
            applyFilter('Onay Bekliyor');
        });

        function applyFilter(status) {
            table.column(6).search(status).draw();
        }

        function clearFilters() {
            table.column(6).search('').draw();
        }
    </script>
}
