@using HR.Application.Features.EnumViewModels
@model IEnumerable<HR.Application.Features.Permission.ViewModels.PermissionRequestApproveListVM>

@{
    ViewData["Title"] = "İzin Talepleri Onaylama";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";

}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="color:saddlebrown; font-weight:bold">PERSONEL İZİN TALEPLERİ </h4>

            <div class="btn-group btn-md mb-3">
                <button type="button" class="btn btn-inverse-info" onclick="applyFilter('Onay Bekliyor')">Onay Bekliyor</button>
                <button type="button" class="btn btn-inverse-success" onclick="applyFilter('Onaylandı')">Onaylandı</button>
                <button type="button" class="btn btn-inverse-danger" onclick="applyFilter('Reddedildi')">Reddedildi</button>
                <button type="button" class="btn btn-inverse-secondary" onclick="clearFilters()">Hepsi</button>
            </div>

            <div class="table-responsive">
                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                Talep Eden
                                @* @Html.DisplayNameFor(model => model.Personnel.Name) *@
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Days)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApprovalStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApprovedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionType.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.Personnel.Name) *@
                                    @Html.DisplayFor(modelItem => item.Personnel.Name) @Html.DisplayFor(modelItem => item.Personnel.SecondName) @Html.DisplayFor(modelItem => item.Personnel.Surname) @Html.DisplayFor(modelItem => item.Personnel.SecondSurname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Days)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PermissionType.Name)
                                </td>

                                <td>
                                    @if (item.ApprovalStatus == ApprovalStatusVM.ApprovalWaiting)
                                    {
                                        <button href="#" onclick="approvePermissionRequest('@item.Id')" class="btn btn-inverse-success btn-icon"><i class="ti-check"></i></button>
                                        <button href="#" onclick="rejectPermissionRequest('@item.Id')" class="btn btn-inverse-danger btn-icon"><i class="ti-close"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function approvePermissionRequest(permissionRequestId) {
            var confirmDelete = confirm("İzin talebini onaylamak istediğinizden emin misiniz?");

            if (confirmDelete) {
                window.location.href = '/Manager/Request/ApproveByIdPermissionRequest?permissionRequestId=' + permissionRequestId;
            }
        }

        function rejectPermissionRequest(permissionRequestId) {
            var confirmDelete = confirm("İzin talebini reddetmek istediğinizden emin misiniz?");

            if (confirmDelete) {
                window.location.href = '/Manager/Request/RejectByIdPermissionRequest?permissionRequestId=' + permissionRequestId;
            }
        }



        var table;

        $(document).ready(function () {
            table = $('#myTable').DataTable({
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                }
            });

            // Sayfa yüklendiğinde "Onay Bekliyor" butonuna otomatik olarak tıkla
            applyFilter('Onay Bekliyor');
        });

        function applyFilter(status) {
            table.column(5).search(status).draw();
        }

        function clearFilters() {
            table.column(5).search('').draw();
        }
    </script>
}

