@using HR.Application.Features.Companies.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CompanyVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="~/photos/@Model.LogoUrl" alt="..."
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Name </h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a asp-action="UpdateAdmin" asp-controller="Admin" class="btn btn-primary">Güncelle</a>
                            <a asp-action="Index" asp-controller="Company" asp-area="Admin" class="btn btn-outline-primary ms-1"> Listeye Dön</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4 ">
                    <div class="card-body rounded-3">

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Şirket Tipi</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Type</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">E-mail</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefon Numarası</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mersis Numarası</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.MersisNo</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Vergi Numarası</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.TaxNo</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Vergi Dairesi</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.TaxOffice</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adres</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Address</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Çalışan Sayısı</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.EmployeesCount</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Kuruluş Yılı</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.EstablishmentYear</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Sözleşme Başlangıç Tarihi</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ContractStartDate.ToString("dd.MM.yyyy")</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Sözleşme Bitiş Tarihi</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ContractEndDate.ToString("dd.MM.yyyy")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>