@using HR.Application.Features.Companies.ViewModels;
@model IEnumerable<CompanyListVM>
<style>
 .btn-primary {
        background-color: #AA2C4A;
        border-color: #F489A3;
        color: black;

        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #F489A3;
        }
</style>
<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">

        <div class="btn-group btn-md mb-3">
            <button type="button" class="btn btn-inverse-success" onclick="showCompanies('active-companies')">Aktif Şirketler</button>
            <button type="button" class="btn btn-inverse-danger" onclick="showCompanies('passive-companies')">Pasif Şirketler</button>
        </div>
        <div class="card-header text-success" style="background-color: rgba(113, 192, 22, 0.2);">Aktif Şirketler </div>
        <table class="table table-bordered active-companies table-responsive" id="myTable" style="max-width: 100%; border-collapse: collapse; border: 1px solid black;">


            <thead>
                <tr>
                    <th width="auto">Logo</th>
                    <th width="auto">Ad</th>
                    <th width="auto">Ünvan</th>
                    <th width="auto">Telefon</th>
                    <th width="auto">Mail Adresi</th>
                    <th>Detay</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model.Where(x => x.IsActive).ToList())
                {
                    <tr>
                        <td class="logo"><img src="~/photos/@company.LogoUrl"></td>
                        <td class="company-name">@company.Name</td>
                        <td class="company-type">@company.Type</td>
                        <td class="company-phone">@company.PhoneNumber</td>
                        <td class="company-email">@company.Email</td>
                        <td><a type="button" class="btn btn-inverse-info" asp-action="CompanyDetail" asp-controller="Company" asp-route-id="@company.Id">Detay</a></td>
                        <td><a type="button" class="btn btn-inverse-info" asp-action="CompanyUpdate" asp-controller="Company" asp-route-id="@company.Id">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header text-danger" style="background-color: rgba(255, 71, 71, 0.2);">Pasif Şirketler</div>
        <table class="table table-bordered passive-companies table-responsive" id="myTable2" style="max-width: 100%; border-collapse: collapse; border: 1px solid black;">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Ad</th>
                    <th>Ünvan</th>
                    <th>Telefon</th>
                    <th>Mail Adresi</th>
                    <th>Detay</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model.Where(x => x.IsActive == false).ToList())
                {
                    <tr>
                        <td class="logo"><img src="~/photos/@company.LogoUrl"></td>
                        <td class="company-name">@company.Name</td>
                        <td class="company-type">@company.Type</td>
                        <td class="company-phone">@company.PhoneNumber</td>
                        <td class="company-email">@company.Email</td>
                        <td><a type="button" class="btn btn-inverse-info" asp-action="CompanyDetail" asp-controller="Company" asp-route-id="@company.Id">Detay</a></td>
                        <td><a type="button" class="btn btn-inverse-info" asp-action="CompanyUpdate" asp-controller="Company" asp-route-id="@company.Id">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script>


        var table;


        $(document).ready(function () {
            table = $('#myTable').DataTable({
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                }
            });

            var table2 = $('#myTable2').DataTable({
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                }
            });

        });


        function showCompanies(type) {
            const activeCompaniesTable = document.querySelector('.active-companies');
            const passiveCompaniesTable = document.querySelector('.passive-companies');

            activeCompaniesTable.style.display = type === 'active-companies' ? 'block' : 'none';
            passiveCompaniesTable.style.display = type === 'passive-companies' ? 'block' : 'none';
        }
    </script>
}