@model IEnumerable<PersonVM>

<style>
    .person-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        text-align: center;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .person-card a {
            text-decoration: none;
        }

    .avatar {
        width: 80px;
        height: 80px;
        background-color: #BFD9D7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 32px;
        margin: 0 auto;
    }

    .person-name {
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }

    .person-title {
        font-size: 18px;
    }

    .person-tcno {
        font-size: 16px;
        color: #555;
    }

    h3 {
        text-align: center;
        color: blue;
        font-weight: bold;
        margin-top: 20px;
        font-size: 28px;
    }

    #nameFilter {
        margin-top: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="display-4 float-left">Personeller</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <input class="form-control" id="nameFilter" placeholder="Ad Giriniz" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center " id="personCardsContainer">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="person-card">

                    <div class="avatar">
                        <img src="~/photos/@item.Photo" alt="..."
                             class="rounded-circle img-fluid" style="width: 100px;">

                    </div>
                    <div class="person-name">
                        <span>@item.Name.ToUpper() @(string.IsNullOrEmpty(item.SecondName) ? "" : item.SecondName.ToUpper()) @item.Surname.ToUpper()@(string.IsNullOrEmpty(item.SecondSurname) ? "" : item.SecondSurname.ToUpper())</span>
                    </div>

                    <div class="person-title">
                        <span>Pozisyon:</span>
                        <span>@item.Department.Name</span>
                    </div>
                    <div class="person-tcno">
                        <span>Meslek:</span>
                        <span>@item.Job.Name</span>
                    </div>
                    <!-- Update Button -->
                    <a type="button" class="btn btn-primary" asp-action="PersonnelUpdateByManager" asp-controller="Manager" asp-route-id="@item.Id">
                        Güncelle
                    </a>

                    <!-- Details Button -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal_@item.Id">
                        Detay
                    </button>

                    <div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kişi Bilgileri</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <!-- Sol Sütun -->
                                        <div class="col-md-6">
                                            <div class="modal-body">
                                                <p><strong>Ad:</strong> @item.Name</p>
                                                <p><strong>İkinci Ad:</strong> @(item.SecondName != null ? item.SecondName : "")</p>
                                                <p><strong>Soyad:</strong> @item.Surname</p>
                                                <p><strong>İkinci Soyad:</strong> @(item.SecondSurname != null ? item.SecondSurname : "")</p>
                                                <p><strong>E-Posta:</strong> @item.EMail</p>
                                                <p><strong>Maaş:</strong> @item.Salary</p>
                                            </div>
                                        </div>

                                        <!-- Sağ Sütun -->
                                        <div class="col-md-6">
                                            <div class="modal-body">
                                                <p><strong>Adres:</strong> @item.Address</p>
                                                <p><strong>Telefon Numarası:</strong> @item.PhoneNumber</p>
                                                <p><strong>İş:</strong> @item.Job.Name</p>
                                                <p><strong>Departman:</strong> @item.Department.Name</p>
                                                <p><strong>Cinsiyet:</strong> @Html.DisplayFor(modelItem => item.Gender)</p>
                                                <span asp-validation-for="@item.Gender" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Kapat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        }

    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#nameFilter").on("input", function () {
                var filterValue = $(this).val().toLowerCase();
                $("#personCardsContainer .person-card").each(function () {
                    var personName = $(this).find(".person-name span").text().toLowerCase();
                    if (personName.includes(filterValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}

