@model HR.Application.Features.People.ViewModels.PersonUpdateByManagerVM    

@{
    ViewData["Title"] = "Personel Bilgilerini Güncelle";
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #764640;
    }

    .form-group label {
        font-weight: bold;
        color: #343a40;
    }

    .form-control {
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #cabfbc;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #dcb9ac;
        }

    .btn-secondary {
        background-color: #cabfbc;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-secondary:hover {
            background-color: #dcb9ac;
        }

    .alert-danger {
        margin-top: 20px;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        color: #721c24;
        padding: 10px;
    }
</style>
<h2 class="text-center">Personel Bilgilerini Güncelle</h2>

<div class="container">
    <form asp-action="PersonnelUpdateByManager" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhotoFile" class="control-label">Fotoğraf</label>
                    <input id="fileInput" asp-for="PhotoFile" type="file" onchange="return validateFile();" class="form-control" value="@Model.Photo" required />
                    <span asp-validation-for="PhotoFile" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="IdentityNumber" class="control-label">TC Kimlik Numarası:</label>
                    <input asp-for="IdentityNumber" class="form-control" required />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Ad:</label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SecondName" class="control-label">İkinci Ad:</label>
                    <input asp-for="SecondName" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Surname" class="control-label">Soyad:</label>
                    <input asp-for="Surname" class="form-control" required />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SecondSurname" class="control-label">İkinci Soyad:</label>
                    <input asp-for="SecondSurname" class="form-control" />
                    <span asp-validation-for="SecondSurname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label">Adres:</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Telefon Numarası:</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Gender">Cinsiyet</label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderVM>()" class="form-control custom-select"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Salary" class="control-label">Maaş:</label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label">Doğum Tarihi:</label>
                    <input asp-for="BirthDate" type="date" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PlaceofBirth" class="control-label">Doğum Yeri:</label>
                    <input asp-for="PlaceofBirth" class="form-control" />
                    <span asp-validation-for="PlaceofBirth" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HireDate" class="control-label">İşe Giriş Tarihi:</label>
                    <input asp-for="HireDate" type="date"class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FireDate" class="control-label">İşten Çıkış Tarihi:</label>
                    <input asp-for="FireDate" type="date" class="form-control" />
                    <span asp-validation-for="FireDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JobId">Meslek</label>
                    <select asp-for="JobId" class="form-control custom-select">
                        <option value="">-- Meslek Seçin --</option>
                        @foreach (var item in Model.Jobs)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="JobId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DepartmentId">Departman</label>
                    <select asp-for="DepartmentId" class="form-control custom-select">
                        <option value="">-- Departman Seçin --</option>
                        @foreach (var item in Model.Departments)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>

                <div class="form-group" hidden>
                    <label asp-for="CompanyName" class="control-label">Şirket Adı:</label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>


                <div class="form-group" hidden>
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Id" class="control-label">Email</label>
                    <input asp-for="Id" class="form-control" required />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="UserId" class="control-label">Email</label>
                    <input asp-for="UserId" class="form-control" required />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group" hidden>
                    <label asp-for="CompanyId" class="control-label">Email</label>
                    <input asp-for="CompanyId" class="form-control" required />
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Kaydet" class="btn btn-primary" HorizontalAlignment="Center" />
            </div>
        </div>
        <div class="text-center mt-3">
            <a asp-action="PersonnelList" asp-controller="Manager" asp-area="Manager" class="btn btn-secondary">Listeye Geri Dön</a>
        </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} <script>
      function validateFile() {
          var fileInput = document.getElementById('fileInput'); // İlgili input elementinin id'si
          var fileName = fileInput.value;
          var fileSize = fileInput.files[0].size; // Dosya boyutu bytes cinsinden

          // Dosya türü kontrolü
          var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
          if (!allowedExtensions.test(fileName)) {
              alert('Hata: Sadece JPEG ve PNG dosyaları yükleyebilirsiniz.');
              fileInput.value = '';
              return false;
          }

          // Dosya boyutu kontrolü (25 MB)
          var maxSize = 25 * 1024 * 1024; // 25 MB
          if (fileSize > maxSize) {
              alert('Hata: Dosya boyutu 25 MB\'dan büyük olamaz.');
              fileInput.value = '';
              return false;
          }

          // Bilgi mesajı
          alert('Başarıyla yüklendi: ' + fileName);

          // Geçerli dosya
          return true;
      }
</script>