@model PersonDetailVM
@{
    ViewData["Title"] = "Detail";
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="~/images/img_avatar3.png" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Name @Model.Surname</h5>
                        <p class="text-muted mb-1">@Model.Job</p>
                        <p class="text-muted mb-4">@Model.Department</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4 ">
                    <div class="card-body rounded-3">

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Name @Model.Surname</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Identity Number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.IdentityNumber</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Birth Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.BirthDate.ToShortDateString()</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Place of Birth</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PlaceofBirth</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Mail</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Address</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>