@using HR.Application.Features.People.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PersonDetailVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .btn-primary {
        background-color: #5D54A4;
        border-color: mediumpurple;
        color: black;
        
        
    }

        .btn-primary:hover {
            background-color: mediumpurple;
            border-color: mediumpurple;
        }
</style>
    

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="~/photos/@Model.Photo" alt="..."
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Name @Model.SecondName @Model.Surname @Model.SecondSurname</h5>
                        <p class="text-muted mb-1">@Model.Job.Name</p>
                        <p class="text-muted mb-4">@Model.Department.Name</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a asp-action="UpdatePerson" asp-area="Personnel" asp-controller="Person"  asp-route-id="@Model.Id" class="btn btn-primary">Güncelle</a>
                            <a asp-action="Detail" asp-controller="Person" asp-route-id="@Model.Id" class="btn btn-primary ms-1">Detay</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4 ">
                    <div class="card-body rounded-3">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tam Adı</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Name @Model.SecondName @Model.Surname @Model.SecondSurname</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">E-mail</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.EMail</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefon Numarası</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adres</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
